@media screen and (min-height: 30em) {
.cal { grid-template-rows: 1fr 2fr 1fr; }
.cal > .day:nth-child(-n+3) { display: block; }
.cal > .day:nth-child(n+4) { display: none; }
}
@media screen and (min-height: 38em) {
.cal { grid-template-rows: 1fr 2fr 1fr 1fr; }
.cal > .day:nth-child(-n+4) { display: block; }
.cal > .day:nth-child(n+5) { display: none; }
}
@media screen and (min-width: 32em) {
.cal { grid-template-columns: 2fr 1fr; grid-template-rows: auto; }
.cal > .day:nth-child(-n+3) { display: block; }
.cal > .day:nth-child(n+4), .cal > .day:nth-child(1) { display: none; }
}
@media screen and (min-width: 38em) {
.cal { grid-template-columns: 1fr 2fr 1fr; }
.cal > .day:nth-child(-n+3) { display: block; }
.cal > .day:nth-child(n+4) { display: none; }
}
@media screen and (min-width: 50em) {
.cal { grid-template-columns: 1fr 2fr 1fr 1fr }
.cal > .day:nth-child(-n+4) { display: block; }
.cal > .day:nth-child(n+5) { display: none; }
}
@media screen and (min-width: 64em) {
.cal { grid-template-columns: 1fr 2fr 1fr 1fr 1fr; }
.cal > .day:nth-child(-n+5) { display: block; }
.cal > .day:nth-child(n+6) { display: none; }
}
  